.movies-list {
  list-style-type: none;
  margin: 79px 0 0;
  padding: 0;
  display: flex;
  gap: 37px 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.movies-list-btn {
  width: 100%;
  margin: 59px 0 0;
  height: 38px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  background-color: #2f2f2f;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.movies-list__btn:hover {
  background-color: #242424;
}

@media screen and (max-width: 768px) {
  .movies-list {
    gap: 30px 28px;
    margin: 81px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .movies-list {
    margin: 50px 0 0;
}
}
