.promo {
  background-color: #073042;
}

.promo__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 18px 70px 18px;
}

.promo__logo {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.promo__logo:hover {
  opacity: 0.6;
}

.promo__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: all 0.3s ease-in-out;
}

.promo__link_type_register {
  color: #ffffff;
}

.promo__link_type_register:hover {
  color: #b4acac;
}

.promo__link_type_signin {
  background-color: #3ddc84;
  border-radius: 3px;
  padding: 8px 20px;
  margin-left: 30px;
  color: #000000;
}

.promo__link_type_signin:hover {
  background-color: #28a25f;
}

.promo__container {
  background-image: url("../../images/landing-logo.svg");
  height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 93px 0 123px;
}

.promo__title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #ffffff;
  margin: 0 275px;
  letter-spacing: -0.04em;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .promo__title {
    margin: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .promo__header {
    margin: 21px 30px 21px;
  }

  .promo__title {
    margin: 0 19px;
  }

  .promo__container {
    margin: 224px 0 240px;
  }
}

@media screen and (max-width: 450px) {
  .promo__header {
    margin: 14px 18px 14px;
  }

  .promo__link {
    font-size: 10px;
  }

  .promo__link_type_signin {
    padding: 5px 12px;
  }

  .promo__container {
    background-size: 248px 248px;
    margin: 142px 0 180px;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
  }
}
